@font-face {
  font-family: "Avenir-Light";
  src: url("../public/avenir-light.otf");
}

@font-face {
  font-family: "Gobold-Regular";
  src: url("../public/gobold-regular.otf");
}

:root {
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-blue: #7FDAD3;
  --color-red: #FA1B52;
  --color-podcast-dark: #412881;
  --color-podcast-light: #6C58B2;
  --color-light: #ebf9f7;
}


body {
  margin: 0;
  font-family: "Avenir-Light";
  color: var(--color-black);
}